.cs-startapp-div {
  position: relative;
  background: #869cbf;
  border-left: #677a98 10px solid;
}

.cs-retrieveapp-div {
  position: relative;
  background: #acc1dc;
  border-left: #92a7c2 10px solid;
}

.cs-monitor-div {
  position: relative;
  background: #c7daf2;
  border-left: #b1c6e1 10px solid;
}

.cs-startapp-div a,
.cs-retrieveapp-div a,
.cs-monitor-div a {
  position: absolute;
  background: #f1c732;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  bottom: 0.98%;
  right: 0.25%;
  width: 100%;
  max-width: 400px;
  padding: 4px 0px;
  outline: white 3px solid;
  border-top-right-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.cs-startapp-div a:hover,
.cs-retrieveapp-div a:hover,
.cs-monitor-div a:hover {
  color: black;
  transform: scale(1.015);
}

.cs-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media screen and (max-width: 760px) {
  .cs-footer {
    position: relative;
  }
}

.cs-full-container {
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
