.cs-monitor-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  padding: 0.92rem 0px;
  gap: 20px;
}

.cs-monitor-container .cs-monitor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cs-monitor-container .cs-monitor-line {
  height: 4rem;
  width: 6px;
  border-radius: 4px;
  margin-left: 7rem;
  background: rgb(207, 207, 207);
}

.cs-monitor-container .cs-monitor-dt {
  word-wrap: break-word;
  max-width: 70px;
  width: 100%;
}

.cs-monitor-container .cs-monitor-desc {
  max-width: calc(100%-2rem);
  width: 100%;
}
