@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  min-height: 100vh;
}

.cs-bg-primary {
  background: #223d7e;
}

.cs-bg-fadeblue {
  background: #869cbf !important;
}

.cs-bg-grayish {
  background: #a5a5a5;
}

.cs-bg-light {
  background: #dcf0fa;
}

.cs-bg-secondary {
  background: #f0f0f0 !important;
}

.cs-border-top {
  border-top: #223d7e 8px solid;
}

.cs-outline {
  border-color: #223d7e !important;
}

.cs-btn-primary {
  background: #f1c732 !important;
  border: #223d7e 3px solid !important;
  border-radius: 20rem !important;
}

.cs-btn-secondary {
  background: white !important;
  border: #223d7e 3px solid !important;
  border-radius: 20rem !important;
}

.cs-border-box {
  border: #223d7e 5px solid;
  border-radius: 20px;
  width: 90%;
}

.cs-radius {
  border-radius: 20px;
}

.footer {
  position: relative;
  bottom: 0%;
  right: 0%;
  width: 100%;
  margin-top: 7rem;
}

.cs-btn-nolayout {
  padding: 0%;
  margin: 0%;
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: black;
}
